:root {
    --background-color: rgb(6, 11, 25);
    --border-color: rgb(255, 255, 255, 0.1);
    --highlight-color: rgb(10, 128, 254);
    --yt-color: rgb(229, 57, 53);
  }
  
  body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1, h2, h3, a, p, span {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: white;
    margin: 0px;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    color: var(--highlight-color);
  }
  
  nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
  }
  
  nav .nav-section {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
  }
  
  #nav-mobile-section {
    display: flex;
    flex-basis: calc(100% * (2 / 3));
    z-index: 2;
  }
  
  #nav-toggle-button { 
    align-items: center;
    background-color: transparent;
    border: none;
    border-left: 1px solid var(--border-color);
    color: white;
    cursor: pointer;
    display: none;
    gap: 0.8rem;
    height: 100%;
    justify-content: center;
    outline: none;
    padding: 0rem 3rem;
    position: relative;
    z-index: 3;
  }
  
  #nav-toggle-button:hover,
  #nav-toggle-button:hover > span {
    color: var(--highlight-color);
  }
  
  #nav-toggle-button > span,
  #nav-toggle-button > i { 
    display: inline-block;
    height: 1rem;
    line-height: 1rem;
  }
  
  #nav-social-section,
  #nav-contact-section {
    flex-grow: 1;
  }
  
  #nav-logo-section {
    flex-basis: calc(100% / 3);
    justify-content: flex-start;
  }
  
  #nav-logo-section > a > i {
    font-size: 2.5rem;
  }
  
  #nav-link-section {
    flex-basis: 50%;
    gap: 6rem; 
  }
  
  #nav-social-section {
    gap: 3rem;
  }
  
  main {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
  }
  
  main > article {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: transform 400ms ease;  
  }
  
  main > article[data-status="inactive"] {
    transform: translateX(-100%);
    transition: none;
  }
  
  main > article[data-status="active"] {
    transform: translateX(0%);
  }
  
  main > article[data-status="before"] {
    transform: translateX(-100%);
  }
  
  main > article[data-status="after"] {
    transform: translateX(100%);
  }
  
  main > article[data-status="becoming-active-from-before"] {
    transform: translateX(-100%);
    transition: none;
  }
  
  main > article[data-status="becoming-active-from-after"] {
    transform: translateX(100%);
    transition: none;
  }

  main > article > .name {
    display: block !important;
  }

  main > article > .name h2{
    line-height: 60px !important;
  }


  main > article > .name p {
    color: #8D8D8D;
    letter-spacing: 4px;
  }
  
  main > article > .article-section {
    height: 100%;
    display: flex;
  }
  
  main > article > .article-description-section,
  main > article > .article-nav-section {
    border-left: 1px solid var(--border-color);
  }
  
  main > article > .article-title-section,
  main > article > .article-nav-section {
    border-top: 1px solid var(--border-color);
  }
  
  main > article:first-child > .article-image-section {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }




  main > article:first-child > .article-image-section > img {
    display: block;
    margin: auto;
    height: 100%;
  }

  .article-description-section.article-section.skills {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0px;
  }

  ul {
    list-style:none;
  }

  li {
    color: #ffffff80;
    margin: 1px;
  }

  .father {
    font-size: 24px;
    line-height: 30px;
    font-weight: 900;
  }

  .son {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
  }

  .father::before {
    content: '▼';
    color: #0a80fe;
    font-size: 14px;
  }

  .son::before {
    content: '►';
    color: #0a80fe;
    font-size: 14px;

  }
  
  main > article:nth-child(2) > .article-image-section {
    background-image: url("./images/library.avif");
  }
  
  main > article:nth-child(3) > .article-image-section {
    background-image: url("./images/lighthouse.avif");
  }
  
  main > article:nth-child(4) > .article-image-section {
    background-image: url("./images/galaxy.avif");
  }
  
  main > article > .article-image-section {
    background-position: center;
    background-size: cover;
  }
  
  main > article > .article-description-section {
    flex-direction: column;
    justify-content: center;
    padding: 4rem; 
  }
  
  main > article > .article-description-section > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25em;
  }
  
  main > article > .article-description-section > p  > a:hover {
    text-decoration: underline;
  }
  
  main > article > .article-title-section {
    align-items: center; 
    justify-content: space-between;
    padding: 2rem 4rem;
  }
  
  main > article > .article-title-section * {
    color: white;
  }
  
  main > article > .article-title-section > h2 {
    flex-basis: 50%;
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    line-height: 3rem;
    margin: 0px;
    text-transform: uppercase;
  }
  
  main > article > .article-title-section > i {
    color: rgba(255, 255, 255, 0.75);
    font-size:  4rem;
  }
  
  main > article > .article-nav-section > .article-nav-button {
    background-color: transparent;
    flex-grow: 1;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.75);
    font-size: 3rem;
    cursor: pointer;
  }
  
  main > article > .article-nav-section > .article-nav-button:hover {
    background-color: rgba(255, 255, 255, 0.02);
  }
  
  main > article > .article-nav-section > .article-nav-button:nth-child(2) {
    border-left: 1px solid var(--border-color);
  }
  
  @media(max-width: 1200px) {    
    #nav-mobile-section {
      flex-basis: calc(100% * 0.75);
    }
  
    #nav-logo-section {
      flex-basis: calc(100% * 0.25);
    }
    
    #nav-link-section {
      flex-basis: calc(100% / 3);
      gap: 3rem;
    }
  
    main {
      overflow-y: auto;
    }
    
    main > article {
      grid-template-columns: none;
      grid-template-rows: 1.5fr repeat(3, 0.75fr) 0.25fr;
      height: max(900px, 100%);
    }
     
    main > article > .article-title-section > h2 {
      font-size: 3rem; 
      line-height: 2.6rem;
    }
    
    main > article > .article-title-section > i {
      font-size: 3rem; 
    }
    
    main > article > .article-description-section,
    main > article > .article-nav-section {
      border-left: none;
    }
  
    main > article > .article-image-section {
      order: 1;
    }
    
    main > article > .article-title-section {
      border-bottom: 1px solid var(--border-color);
      order: 2;
    }
    
    main > article > .article-description-section {
      justify-content: center;
      order: 3;
    }
    
    main > article > .article-nav-section {
      border-bottom: 1px solid var(--border-color);
      order: 4;
    }
  }
  
  @media(max-width: 800px) {  
    nav {
      justify-content: space-between;  
    }
    
    nav[data-toggled="true"] > #nav-mobile-section {  
      transform: translateY(0%);
    }
  
    nav[data-toggled="true"] > #nav-toggle-button {
      border-left: none;
    }
  
    nav[data-transitionable="true"] > #nav-mobile-section {
      transition: transform 400ms ease;
    }
    
    nav .nav-section {
      border-left: none;
      padding: 1.5rem 1rem;
    }
    
    #nav-logo-section > a > i {
      font-size: 1.5rem;
      margin-left: 1rem;
    }
    
    #nav-mobile-section {
      background-color: var(--background-color);
      flex-direction: column;
      height: 100vh;
      width: 100vw;
      position: fixed;
      transform: translateY(-100%);
    } 
    
    #nav-toggle-button {
      display: flex;
    }  
    
    #nav-link-section {
      flex-basis: 60%;
      flex-direction: column;
      gap: 4rem;
    }
    
    #nav-link-section > a {
      font-size: 3rem; 
    }
    
    #nav-social-section > a {
      font-size: 2rem; 
    }  
    
    #nav-contact-section {
      padding-bottom: 4rem;
    }
    
    main > article {
      grid-template-rows: 1fr repeat(4, 0.5fr);
      height: max(700px, 100%);
    }
    
    main > article > .article-title-section {
      padding: 2rem;
    }
    
    main > article > .article-title-section > h2 {
      flex-basis: 70%;
      font-size: 1.75em; 
      line-height: 1.5rem;
    }
    
    main > article > .article-title-section > i {
      font-size: 2rem; 
    }
    
    main > article > .article-description-section {
      padding: 2rem;
    }
    
    main > article > .article-description-section > p {
      font-size: 1rem;
    }
  }
  
  /* -- YT link / Source link styles -- */
  
  main > article > .article-description-section > p  > .source-link {
    color: var(--highlight-color);
    display: inline;
  }
  
  main > article .yt-link,
  main > article .yt-link > i {
    color: var(--yt-color);
    display: inline;
  }












/*  */
body {
  /* background: #1e293b; */
  /* color: #f8fafc; */
}

/* .app {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  text-align: center;
}
header h1 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  header h1 {
    font-size: 3rem;
  }
}
header p {
  color: #94a3b8;
  margin-bottom: 0.5rem;
}
header a {
  color: #7393c1;
}

.tag-list {
  font-family: "Montserrat", sans-serif;
  width: 30rem;
  max-width: 90vw;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1rem 0;
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
}

.loop-slider .inner {
  display: flex;
  width: fit-content;
  animation-name: loop;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: var(--direction);
  animation-duration: var(--duration);
}

.tag {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: #e2e8f0;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: #334155;
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  margin-right: 1rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3), 0 0.2rem 1.5rem rgba(0, 0, 0, 0.4);
}
.tag span {
  font-size: 1.2rem;
  color: #64748b;
}

.fade {
  pointer-events: none;
  background: linear-gradient(90deg, var(--background-color), transparent 30%, transparent 70%, var(--background-color));
  position: absolute;
  inset: 0;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}